$main-color: #c4ca2b;
$secondary-color:#1d5056;
$main-text-color: #0D0D0D;
$secondary-text-color: #18531c;
$gradient: #11AEBF fixed linear-gradient(#1a5d1f, #6e9239 70%,#9ea233 100%);
$bg-color:#0D0D0D;
$error: #b92b2b;
$font: "Helvetica Neue", sans-serif;
$max-width: 125rem;
$fz-xxs: 1.2rem;
$fz-xs: 1.4rem;
$fz-sm: 1.6rem;
$fz-md: 1.8rem;
$fz-lg: 2rem;